# external requirements
requests
click
pandas
logging
numpy 
pathlib 
scikit-learn[metrics,model_selection,svm,ensemble,preprocessing]
joblib
bentoml
pyjwt
pydantic
starlette[responses,middleware]
datetime 
#pyOpenSSL
#secrets
xgboost